

import(grid)
import(lattice)

importFrom(stats, as.formula)

export(dendrogramGrob) ## FIXME: add some variant of heatmap

export(rootogram, panel.rootogram, prepanel.rootogram)
export(ecdfplot, panel.ecdfplot, prepanel.ecdfplot)

S3method(rootogram, formula)
S3method(ecdfplot, formula)
S3method(ecdfplot, numeric)


## obsolete, will go away at some point

export(gplot, gplotArgs, "gplotArgs<-")

S3method(gplot, default)
S3method(gplotArgs, default)
S3method(gplotArgs, data.frame)

S3method("gplotArgs<-", default)
S3method("gplotArgs<-", data.frame)



### Local variables:
### mode: R
### End:
