

import(grid)
import(lattice)

importFrom(stats, as.formula)

export(dendrogramGrob) ## FIXME: add some variant of heatmap

export(rootogram, panel.rootogram, prepanel.rootogram)
export(ecdfplot, panel.ecdfplot, prepanel.ecdfplot)
export(mapplot, panel.mapplot, prepanel.mapplot)
export(segplot, prepanel.segplot, panel.segplot)

S3method(rootogram, formula)
S3method(ecdfplot, formula)
S3method(ecdfplot, numeric)
S3method(segplot, formula)

S3method(mapplot, formula)

S3method(xyplot, ts)
S3method(xyplot, stl)


export(panel.3dbars, panel.3dpolygon, panel.3dtext)
export(useOuterStrips, resizePanels)
export(custom.theme)

## contributions from Felix Andrews

export(tileplot, panel.voronoi, panel.levelplot.points)

export(panel.xblocks)
S3method(panel.xblocks, default)
S3method(panel.xblocks, ts)
export(panel.xyarea)
export(panel.qqmath.xyarea)

export(panel.qqmath.tails)

export(panel.lmlineq, panel.ablineq)

export(marginal.plot)
S3method(c, trellis)
export(xyplot.list) ## Note: not just an S3 method

export(doubleYScale)
export(layer, as.layer, flattenPanel)
S3method("+", trellis)
S3method(print, layer)
S3method(as.layer, trellis)


## obsolete, will go away at some point

export(gplot, gplotArgs, "gplotArgs<-")

S3method(gplot, default)
S3method(gplotArgs, default)
S3method(gplotArgs, data.frame)

S3method("gplotArgs<-", default)
S3method("gplotArgs<-", data.frame)



### Local variables:
### mode: R
### End:
